@import "nav";
.masthead {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100vh; /* if you don't want it to take up the full screen, reduce this number */
  overflow: hidden;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 63%, rgba(0, 0, 0, 0.65) 100%), url('../images/background/slide4.jpg') no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  h1 {
    font-style: normal;
    font-weight: bold;
    color: #eee;
    font-size: 11vmin;
    letter-spacing: 0.03em;
    line-height: 1;
    margin-bottom: 1px;

    @media (min-width: 1024px) {
      align-self: flex-start;
      margin-left: 15%;
    }

  }

  p {
    font-size: 3vh;
    @media (min-width: 1024px) {
      align-self: flex-start;
      margin-left: 8%;
    }
  }

}









