@import url("https://fonts.googleapis.com/css?family=Lato:400|Josefin+Sans:700");
@import "utils/colors";
@import "vendor/original";

html {
  overflow-x: hidden;
}

body {
  background: #fff;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  color: $BLACK-900;
  line-height: 25px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow-x: hidden;
}

#slider-sponsor-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: row;

  .slick-list {
    .slick-track {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
    }
  }

  .spnsors-logo {
    width: 200px;
    margin-right: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    img.img-fluid {
      //-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      //filter: grayscale(100%);
    }
  }
}

.section-title {
  color: $PRIMARY-2;
}

.hero-title {
  font-style: normal;
  font-weight: bold;
  color: #eee;
  font-size: 4rem;
  letter-spacing: 0.03em;
  line-height: 1;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.8);
  margin-bottom: 40px;
}

.text-p {
  font-size: 1.2rem;
  text-align: left;
}


.section-areas {

  &__subtitle {
    font-size: 1.5rem;
    color: $BLACK-800;
    margin-bottom: 1rem;
  }

  .card {
    .card-body {
      font-size: 0.8rem;
      color: $BLACK-600;
    }
  }
}


.bg-section{
  background: $BLACK-100;
}
