$PRIMARY: #0a0057;
$PRIMARY-2: #0f007e;
$PRIMARY-50: #282be9;
$BLACK-100: #f5f5f5;
$BLACK-200: #eeeeee;
$BLACK-300: #e0e0e0;
$BLACK-400: #bdbdbd;
$BLACK-600: #757575;
$BLACK-800: #424242;
$BLACK-900: #212121;
$WHITE: #fff;
